<div data-page="form" class="page no-toolbar no-navbar page-on-center user-detail-page">
  <div class="page-content">
    <div class="navbarpages">
      <div style="float: left;">
        <ion-buttons slot="end">
          <ion-menu-button><img style="width: 25px; height: 25px;" src='../../assets/images/icons/red/menu.png'>
          </ion-menu-button>
        </ion-buttons>
      </div>
      <div class="navbar_left">
        <div class="logo_text"><a><span>Punjabi Samaj Rewari</span></a></div>
      </div>
      <div style="float: right;">
        <ion-buttons  slot="end" (click)="logOut()">
          <ion-icon style="color: #d64900;
          height: 44px;
          width: 33px;"  slot="end" name="log-out" (click)= "logOut"></ion-icon> 
        </ion-buttons>
      </div>
    </div>
    <div id="pages_maincontent" class="">

      <h2 class="page_title">User Profile</h2>



      <div class="user_login_info" *ngIf="dataAvailable">

        <div class="user_thumb">
          <div class="user_details">
            <p>Welcome, <span class="">{{userModel.firstName}} {{userModel.lastName}}</span></p>
          </div>
          <div class="user_avatar">
            <img *ngIf="userModel.userImageByte" style="width: 102px; height: 102px;"
              [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + userModel.userImageByte)"
              (click)="openPreview(sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + userModel.userImageByte))" alt=""
              title="" onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
              <img *ngIf="!userModel.userImageByte" style="width: 102px; height: 102px;"
                [src]="homeService.getImage('directory',userModel.userImageName)"
                (click)="openPreview(homeService.getImage('directory',userModel.userImageName))"
                onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
          </div>
        </div>

      </div>

      <div class="page_single layout_fullwidth_padding toolbarpage" *ngIf="dataAvailable">

        <ul class="features_list_detailed">

          <li>
            <div class="feat_small_details">
              <h4><a>Email</a></h4>
              <a>{{userModel.email}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Gender</a></h4>
              <a>{{userModel.gender}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Address</a></h4>
              <a>{{userModel.address}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>Date Of Birth</a></h4>
              <a>{{userModel.dob | date:'yyyy-MM-dd'}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>Aadhar number</a></h4>
              <a>{{userModel.aadharNumber}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>PAN Number</a></h4>
              <a>{{userModel.panNumber}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>Blood group</a></h4>
              <a>{{userModel.bloodGroup}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Care Taker Name</a></h4>
              <a>{{userModel.careTakerName}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Blood Donation</a></h4>
              <a *ngIf="userModel.bloodDonation == 1">YES</a>
              <a *ngIf="userModel.bloodDonation != 1">NO</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Business Category</a></h4>
              <a>{{userModel.businessCategory}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Firm Name</a></h4>
              <a>{{userModel.businessSubCategory}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Mobile Number</a></h4>
              <a>{{userModel.mobileNumber}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Occupation</a></h4>
              <a>{{userModel.occupation}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Qualification</a></h4>
              <a>{{userModel.qualification}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Social Service</a></h4>
              <a *ngIf="userModel.socialServices == 1">YES</a>
              <a *ngIf="userModel.socialServices != 1">NO</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Ward Number</a></h4>
              <a>{{userModel.wardNumber}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Whatsapp Number</a></h4>
              <a>{{userModel.whatsAppNumber}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>DOB proof</a></h4>
              <a>
                <ion-avatar slot="start"  style="float: left;">
                  <img *ngIf="userModel.idProofByte" [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + userModel.idProofByte)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                  <img *ngIf="!userModel.idProofByte"  [src]="homeService.getImage('directory',userModel.idProofImage)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'" (click)="openPreview(userModel.idProofImage)">
                </ion-avatar>
                <input *ngIf="userModel.idProofByte" style="margin-left: 20px; margin-top: 10px; width: 55%;" type="button" (click)="openPreview(sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + userModel.idProofByte))" value="Click to View DOB Proof">
                <input *ngIf="!userModel.idProofByte" style="margin-left: 20px; margin-top: 10px; width: 55%;" type="button" (click)="openPreview(homeService.getImage('directory',userModel.idProofImage))" value="Click to View DOB Proof">
              </a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>Address proof</a></h4>
              <a>
                <ion-avatar slot="start" style="float: left;">
                  <img *ngIf="userModel.addressProofByte" [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + userModel.addressProofByte)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                    <img *ngIf="!userModel.addressProofByte"  [src]="homeService.getImage('directory',userModel.adressProofImage)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                </ion-avatar>
                <input *ngIf="userModel.addressProofByte" style="margin-top: 10px; margin-left: 20px; width: 55%;" type="button" (click)="openPreview(sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + userModel.addressProofByte))" value="Click to View Address Proof">
                <input *ngIf="!userModel.addressProofByte" style="margin-top: 10px; margin-left: 20px; width: 55%;" type="button" (click)="openPreview(homeService.getImage('directory',userModel.adressProofImage))" value="Click to View Address Proof">            
               </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>