.close-fake{
    --background: transparent;
    margin-top: 10px;
    float: right;
    ion-icon{
        font-size: 2rem;
        margin: 0
    }
    .button{
        float: right;
    }
}

ion-content{
    --background: black;
}




ion-slides{
    height: 80%;
}