<div data-page="form" class="page no-toolbar no-navbar page-on-center user-detail-page">
  <div class="page-content">
    <div class="navbarpages">
      <div style="float: left;">
        <ion-buttons slot="end">
          <ion-menu-button><img style="width: 25px; height: 25px;" src='../../assets/images/icons/red/menu.png'>
          </ion-menu-button>
        </ion-buttons>
      </div>
      <div class="navbar_left">
        <div class="logo_text"><a><span>{{'Punjabi Samaj Rewari' | translate}}</span></a></div>
      </div>
      <div style="float: right;">
        <ion-buttons  slot="end" (click)="logOut()">
          <ion-icon style="color: #d64900;
          height: 44px;
          width: 33px;"  slot="end" name="log-out" (click)= "logOut"></ion-icon> 
        </ion-buttons>
      </div>
    </div>
    <div id="pages_maincontent" class="">

      <h2 class="page_title">{{'Admin Profile' | translate}}</h2>



      <div class="user_login_info" *ngIf="dataAvailable">

        <div class="user_thumb">
          <div class="user_details">
            <p>{{'Welcome' | translate}}, <span class="">{{adminUserModel.firstName}} {{adminUserModel.lastName}}</span></p>
          </div>
          <div class="user_avatar">
            <img *ngIf="adminUserModel.userImageByte" style="width: 102px; height: 102px;"
              [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + adminUserModel.userImageByte)"
              (click)="openPreview(sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + adminUserModel.userImageByte))" alt=""
              title="" onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
              <img *ngIf="!adminUserModel.userImageByte" style="width: 102px; height: 102px;"
                [src]="homeService.getImage('directory',adminUserModel.userImageName)"
                (click)="openPreview(homeService.getImage('directory',adminUserModel.userImageName))"
                onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
          </div>
        </div>

      </div>

      <div class="page_single layout_fullwidth_padding toolbarpage" *ngIf="dataAvailable">

        <ul class="features_list_detailed">

          <li>
            <div class="feat_small_details">
              <h4><a>{{'Email' | translate}}</a></h4>
              <a>{{adminUserModel.email}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Gender' | translate}}</a></h4>
              <a>{{adminUserModel.gender}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Address' | translate}}</a></h4>
              <a>{{adminUserModel.address}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>{{'Date Of Birth' | translate}}</a></h4>
              <a>{{adminUserModel.dob | date:'yyyy-MM-dd'}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>{{'Aadhar Number' | translate}}</a></h4>
              <a>{{adminUserModel.aadharNumber}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>{{'Pan Number' | translate}}</a></h4>
              <a>{{adminUserModel.panNumber}}</a>
            </div>
          </li>

          <li>
            <div class="feat_small_details">
              <h4><a>{{'Blood Group' | translate}}</a></h4>
              <a>{{adminUserModel.bloodGroup}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Care Taker Name' | translate}}</a></h4>
              <a>{{adminUserModel.careTakerName}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Volunteer Blood Donation' | translate}}</a></h4>
              <a *ngIf="adminUserModel.bloodDonation == 1">{{'YES' | translate}}</a>
              <a *ngIf="adminUserModel.bloodDonation != 1">{{'NO' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Business Category' | translate}}</a></h4>
              <a>{{adminUserModel.businessCategory}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Firm Name' | translate}}</a></h4>
              <a>{{adminUserModel.businessSubCategory}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Mobile Number' | translate}}</a></h4>
              <a>{{adminUserModel.mobileNumber}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Occupation' | translate}}</a></h4>
              <a>{{adminUserModel.occupation}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Highest Qualification' | translate}}</a></h4>
              <a>{{adminUserModel.qualification}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Volunteer Social Service' | translate}}</a></h4>
              <a *ngIf="adminUserModel.socialServices == 1">YES</a>
              <a *ngIf="adminUserModel.socialServices != 1">NO</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Ward Number' | translate}}</a></h4>
              <a>{{adminUserModel.wardNumber}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Whatsapp Number' | translate}}</a></h4>
              <a>{{adminUserModel.whatsAppNumber}}</a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'DOB Proof' | translate}}</a></h4>
              <a>
                <ion-avatar slot="start"  style="float: left;">
                  <img *ngIf="adminUserModel.idProofByte" [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + adminUserModel.idProofByte)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                  <img *ngIf="!adminUserModel.idProofByte"  [src]="homeService.getImage('directory',adminUserModel.idProofImage)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'" (click)="openPreview(adminUserModel.idProofImage)">
                </ion-avatar>
                <input *ngIf="adminUserModel.idProofByte" style="margin-left: 20px; margin-top: 10px; width: 55%;" type="button" (click)="openPreview(sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + adminUserModel.idProofByte))" value="Click to View DOB Proof">
                <input *ngIf="!adminUserModel.idProofByte" style="margin-left: 20px; margin-top: 10px; width: 55%;" type="button" (click)="openPreview(homeService.getImage('directory',adminUserModel.idProofImage))" value="Click to View DOB Proof">
              </a>
            </div>
          </li>
          <li>
            <div class="feat_small_details">
              <h4><a>{{'Address proof' | translate}}</a></h4>
              <a>
                <ion-avatar slot="start" style="float: left;">
                  <img *ngIf="adminUserModel.addressProofByte" [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + adminUserModel.addressProofByte)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                    <img *ngIf="!adminUserModel.addressProofByte"  [src]="homeService.getImage('directory',adminUserModel.adressProofImage)"
                    onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                </ion-avatar>
                <input *ngIf="adminUserModel.addressProofByte" style="margin-top: 10px; margin-left: 20px; width: 55%;" type="button" (click)="openPreview(sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + adminUserModel.addressProofByte))" value="Click to View Address Proof">
                <input *ngIf="!adminUserModel.addressProofByte" style="margin-top: 10px; margin-left: 20px; width: 55%;" type="button" (click)="openPreview(homeService.getImage('directory',adminUserModel.adressProofImage))" value="Click to View Address Proof">            
               </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>