<div data-page="form" class="page no-toolbar no-navbar page-on-center user-detail-page">
  <div class="page-content">
    <div class="navbarpages">
      <div style="float: left;">
        <ion-buttons slot="end">
          <ion-menu-button><img style="width: 25px; height: 25px;" src='../../assets/images/icons/red/menu.png'>
          </ion-menu-button>
        </ion-buttons>
      </div>
      <div class="navbar_left">
        <div class="logo_text"><a><span>Punjabi Samaj Rewari</span></a></div>
      </div>
      <div style="float: right;">
        <ion-buttons slot="end" (click)="logOut()">
          <ion-icon style="color: #d64900;
          height: 44px;
          width: 27px;" slot="end" name="log-out" (click)="logOut"></ion-icon>
        </ion-buttons>
      </div>
    </div>
    <div id="pages_maincontent" class="user-list-content">
      <h2 class="page_title">{{headerName}}</h2>
      <div>
        <div>
          <ion-toolbar>
            <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
          </ion-toolbar>
          <ion-list *ngIf="!usersAvailable" style="text-align: center;">
            <ion-label style="font-size: large; color: gray;">No Users Found</ion-label>
          </ion-list>
          <ion-list *ngIf="usersAvailable">
            <!-- <ion-item slot="slot">
            
          </ion-item> -->
            <ion-item>
              <!-- <ion-label>Select All</ion-label> -->
              <div style="width: 100%;">
                <div style="float: left;">
                  <label for="ALL">
                    <input style="width: 20px; height: 18px;" type="checkbox" name="ALL"
                      [checked]="selectAllChk.isChecked" (click)="selectAll($event.target.checked)" value="Select All">
                    Select All</label><br>
                </div>
                <div style="float: right;">
                  <input type="submit" [disabled]="userSmsList.length == 0" style="border-radius: 10px;
                    background-color: #148801f5;
                    color: aliceblue;" value="Send SMS" (click)="openSms()">
                </div>
              </div>
            </ion-item>
            <ion-item *ngFor="let user of users" class="item-content" lines="none" style="width: 98%;">
              <!-- <input style="width: 20px; height: 18px;" type="checkbox" id="user.mobileNumber" [(ngModel)]="user.isChecked"
               (change)="addUserToSms($event.target.checked, user.mobileNumber)"> -->
              <ion-checkbox slot="start" [(ngModel)]="user.isChecked" [id]="user.mobileNumber"
                (ionChange)="addUserToSms($event.target.checked, user.mobileNumber)"></ion-checkbox>
              <ion-avatar>
                <img *ngIf="user.userImageByte"
                  [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + user.userImageByte)" alt=""
                  title="" onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">
                <img *ngIf="!user.userImageByte" [src]="homeService.getImage('directory',user.userImageName)"
                  onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'">

                <!-- <img [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + user.userImageByte)"
                onerror="this.onerror=null; this.src='../../assets/img/blank_profile.webp'"> -->
              </ion-avatar>
              <ion-label (click)="openPageModal(user)" style="margin-left: 20px;">
                <p style="font-weight: 700; padding:  0 0 0 0;">{{user.firstName}} {{user.lastName}}</p>
                <p style="padding:  0 0 0 0;">{{user.mobileNumber}}</p>
                <p style="padding:  0 0 0 0;">{{user.email}}</p>
              </ion-label>
              <div [class]="currentUserType == 'Approved' ? 'strip-approved' :
                          currentUserType == 'Rejected' ? 'strip-rejected': 'strip-pending'">
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>

    </div>
  </div>
</div>