<div data-page="form" class="page no-toolbar no-navbar page-on-center">
  <div class="page-content">
    <div class="navbarpages">
      <div style="float: left;">
        <ion-buttons slot="end">
          <ion-back-button></ion-back-button>
          <!-- <ion-menu-button><img style="width: 25px; height: 25px;" src='../../assets/images/icons/red/menu.png'>
          </ion-menu-button> -->
        </ion-buttons>
      </div>
      <div class="navbar_left">
        <div class="logo_text"><a><span>{{'Punjabi Samaj Rewari' | translate}}</span></a></div>
      </div>
    </div>
    <div id="pages_maincontent" class="">

      <h2 class="page_title">{{'Register' | translate}}</h2>

      <div class="page_single layout_fullwidth_padding">

        <div class="contactform">
          <form [formGroup]="registrationForm">
            <div class="form_row">
              <label>{{'First Name' | translate}}<span class="error">*</span></label>
              <input type="text" name="first-name" value="" class="form_input" formControlName="firstName">
              <span class="form-error"
                *ngIf="registrationForm.get('firstName').invalid && registrationForm.get('firstName').touched">
                {{'Please enter a valid fisrt name.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Last Name' | translate}}<span class="error">*</span></label>
              <input type="text" name="last-name" value="" class="form_input" formControlName="lastName">
              <span class="form-error"
                *ngIf="registrationForm.get('lastName').invalid && registrationForm.get('lastName').touched">
                {{'Please enter a valid last name.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Gender' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="gender" placeholder="Select Gender">
                <option value="M">{{'Male' | translate}}</option>
                <option value="F">{{'Female' | translate}}</option>
              </select>
            </div>

            <div class="form_row">
              <label>{{'Email' | translate}}<span class="error">*</span></label>
              <input type="text" name="email" value="" class="form_input" formControlName="email" type="email"
                pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
              <span class="form-error"
                *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">{{'Please enter a valid email.' | translate}}</span>
            </div>


            <div class="form_row">
              <label>{{'Date of Birth(dd-mm-yyyy)' | translate}}<span class="error">*</span></label>
              <ion-datetime style="border: 1px solid lightgray;" formControlName="dob" displayFormat="DD-MM-YYYY"></ion-datetime>
              <span class="form-error"
                *ngIf="registrationForm.get('dob').invalid && registrationForm.get('dob').touched"> {{'Please enter a valid date of birth.' | translate}}</span>
            </div>


            <div class="form_row">
              <label>{{'Care Taker Name' | translate}}<span class="error">*</span></label>
              <input type="text" name="careTakerName" value="" class="form_input" formControlName="careTakerName">
              <span class="form-error"
                *ngIf="registrationForm.get('careTakerName').invalid && registrationForm.get('careTakerName').touched">
                {{'Please enter a valid care taker name.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Mobile Number' | translate}}<span class="error">*</span></label>
              <input type="number" name="MobileNumber"  [attr.disabled]="isAdmin ? null : ''"  pattern="\d*" onKeyPress="if(this.value.length==10) return false;" value="" class="form_input" formControlName="mobileNumber">
              <span class="form-error"
                *ngIf="registrationForm.get('mobileNumber').invalid && registrationForm.get('mobileNumber').touched">{{'Please enter a valid mobile Number.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Whatsapp Number' | translate}}<span class="error">*</span></label>
              <input type="number" name="WhatsappNumber" pattern="\d*" onKeyPress="if(this.value.length==10) return false;" value="" class="form_input" formControlName="whatsappNumber">
              <span class="form-error"
                *ngIf="registrationForm.get('whatsappNumber').invalid && registrationForm.get('whatsappNumber').touched">{{'Please enter a valid whatsapp number.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Address' | translate}}<span class="error">*</span></label>
              <textarea type="text" name="address" value="" class="form_textarea" formControlName="address"></textarea>
              <span class="form-error"
                *ngIf="registrationForm.get('address').invalid && registrationForm.get('address').touched">{{'Please enter a valid Address.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Ward Number' | translate}}<span class="error">*</span></label>
              <input type="text" name="wardNumber" value="" class="form_input" formControlName="wardNumber">
              <span class="form-error"
                *ngIf="registrationForm.get('wardNumber').invalid && registrationForm.get('wardNumber').touched">{{'Please enter a valid ward number.' | translate}}</span>
            </div>


            <div class="form_row">
              <label>{{'Highest Qualification' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="qualification" placeholder="Select Qualification">
                <option value="HS">{{'High School' | translate}}</option>
                <option value="SS">{{'Sr. Secondary' | translate}}</option>
                <option value="GD">{{'Graduation' | translate}}</option>
                <option value="PG">{{'Post Graduation' | translate}}</option>
              </select>
            </div>

            <div class="form_row">
              <label>{{'Occupation' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="occupation" (change)="onOccupationChange($event.target.value)" placeholder="Select Occupation">
                <option *ngFor="let occupation of occupationModel" [value]="occupation.key">
                  {{occupation.value}}
                </option>
                <!-- <option value="ST">{{'Student' | translate}}</option>
                <option value="BS">{{'Businessman' | translate}}</option>
                <option value="PJ">{{'Private Job' | translate}}</option>
                <option value="GJ">{{'Government Job' | translate}}</option> -->
              </select>
            </div>

            <div class="form_row">
              <label>{{'Business Category' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="businessCategory" placeholder="Select Category">
                <option *ngFor="let category of businessCatModel" [value]="category.key">
                  {{category.value}}
                </option>
                <!-- <option value="NA">Not Available</option>
                <option value="RT">Retailer</option>
                <option value="HP">Health Practitioner</option>
                <option value="DFG">Distributor (Finished Goods)</option>
                <option value="FS">Food Service</option>
                <option value="SR">Supplier/Raw Ingredient Distributor</option>
                <option value="MF">Manufacturer</option>
                <option value="BSS">Business Services</option>
                <option value="IR">Investor</option> -->
              </select>
            </div>

            <div class="form_row">
              <label>{{'Firm Name' | translate}}</label>
              <input type="text" name="businessSubCategory" value="" class="form_input" formControlName="businessSubCategory">
              <!-- <label>{{'Business Sub Category' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="businessSubCategory"
                placeholder="Select Sub Category">
                <option value="NA">Not Available</option>
              </select> -->
            </div>

            <div class="form_row">
              <label>{{'Blood Group' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="bloodGroup" placeholder="Select Blood Group">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <div class="form_row">
              <label>{{'Volunteer Blood Donation' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="bloodDonation"
                placeholder="Select Volunteer Blood Donation">
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>

            <div class="form_row">
              <label>{{'Volunteer Social Service' | translate}}<span class="error">*</span></label>
              <select name="" class="form_select" formControlName="socialServices"
                placeholder="Select Volunteer Social Service">
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>

            <div class="form_row">
              <label>{{'Aadhar Number' | translate}}<span class="error">*</span></label>
              <input type="number" name="aadharNumber" value="" pattern="\d*" onKeyPress="if(this.value.length==12) return false;"  class="form_input" formControlName="aadharNumber">
              <span class="form-error"
                *ngIf="registrationForm.get('aadharNumber').invalid && registrationForm.get('aadharNumber').touched">{{'Please enter a valid aadhar number.' | translate}}</span>
            </div>
            <div class="form_row">
              <label>{{'Pan Number' | translate}}</label>
              <input type="text" name="pannumber" value="" class="form_input" formControlName="panNumber">
            </div>

            <div class="form_row">
              <label>{{'Upload Your Photo' | translate}}<span class="error">*</span></label>
              <input class="form_input" formControlName="userImage" (change)="loadImageFromDevice($event)" type="file"
                id="userImageInput" accept="image/png, image/jpeg">
              <span class="form-error"
                *ngIf="registrationForm.get('userImage').invalid && registrationForm.get('userImage').touched"> {{'Please upload user image.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Upload DOB Proof' | translate}}<span class="error">*</span></label>
              <input class="form_input" type="file" formControlName="idProof" (change)="loadImageFromDevice($event)"
                id="idProofInput" accept="image/png, image/jpeg">
              <span class="form-error"
                *ngIf="registrationForm.get('idProof').invalid && registrationForm.get('idProof').touched"> {{'Please upload DOB proof.' | translate}}</span>
            </div>

            <div class="form_row">
              <label>{{'Upload Address Proof' | translate}}<span class="error">*</span></label>
              <input class="form_input" type="file" type="file" formControlName="addressProof"
                (change)="loadImageFromDevice($event)" id="addressProofInput" accept="image/png, image/jpeg">
              <span class="form-error"
                *ngIf="registrationForm.get('addressProof').invalid && registrationForm.get('addressProof').touched">
                {{'Please upload address proof.' | translate}}</span>
            </div>
            <div class="form_row">
              <label for="TC">
                <input type="checkbox" name="TC" required formControlName="termsCondition" value="Terms Condition">
                {{'I agree all the information provided are valid to prove my identity' | translate}}</label><br>
            </div>
            <input *ngIf="isAdmin" type="submit" [disabled]="registrationForm.invalid" (click)="registerUser()" name="Sign Up"
              class="form_submit" id="submit" value="{{'Sign Up' | translate}}">
              <input *ngIf="!isAdmin" type="submit" [disabled]="registrationForm.invalid" (click)="payAndRegister()" name="Sign Up"
              class="form_submit" id="submit" value="Pay and Register">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>