<div class="views">
  <div class="view view-main" data-page="index">
    <div class="pages">

      <div data-page="index" class="homepage">
        <div class="page-content homepagecontent">

          <!-- <div class="homenavbar">
            <h1 class=""><img src="../../assets/images/home-logo.JPG" alt="" title=""> Punjabi<span>Samaj</span></h1>
          </div> -->
          <div>
            <div class="homenavbar">
              <img class="home-logo" src="../../assets/images/logo.png" alt="" title="">
              <div class="logo-right-sec">
                <span class="home-tagline"> PUNJABI SAMAJ REWARI</span>
                <!-- <ion-buttons class="logout-btn"  slot="end" (click)="openAction()">
                    <ion-icon style="color: #ffffff;"  slot="end" name="power-outline"></ion-icon> 
                  </ion-buttons> -->
                <div class="username">
                  <span>Welcome {{userName}}</span>
                </div>
              </div>
            </div>
            <div style="float: left;" class="home-banner-text">
              <span class="move">{{notificationMessage}}</span>
            </div>
            <div style="width: 98%; height: 375px; float: left;">
              <ion-slides scrollbar="true" pager="true" [options]="slideOpts">
                <ion-slide *ngFor="let img of images">
                  <img src="assets/img/{{img}}" class="thumb-img" tappable (click)="openPreview(img)" />
                </ion-slide>
              </ion-slides>
            </div>
            <div class="home-links">
              <div class="home-link-container">
                <div class="title">Members</div>
                <ul>
                  <li (click)="openGoverningBody()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/government-body.png" />
                      </span>
                      <span>Government Body</span>
                    </a>

                  </li>
                  <li (click)="openDirectoryListPage()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/directory-list.png" />
                      </span>
                      <span>Directory List</span>
                    </a>

                  </li>
                  <li (click)="openPhotoGallery()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/photo-gallery.png" />
                      </span>
                      <span>Photo Gallery</span>
                    </a>

                  </li>
                </ul>
              </div>
              <div class="home-link-container">
                <div class="title">Profile</div>
                <ul>
                  <li (click)="openBusinessSearchPage()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/business-search.png" />
                      </span>
                      <span>Business Search</span>
                    </a>

                  </li>
                  <li (click)="openSignIn()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/sign-up.png" />
                      </span>
                      <span>Sign Up | Sign In</span>
                    </a>

                  </li>
                </ul>
              </div>

              <div class="home-link-container">
                <div class="title">Personalities</div>
                <ul>
                  <li (click)="openFamousPersonalityPage()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/famous-personality.png" />
                      </span>
                      <span>Famous personalities</span>
                    </a>

                  </li>
                  <li (click)="openAchieverListPage()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/achiever.png" />
                      </span>
                      <span>Achiever List</span>
                    </a>

                  </li>

                </ul>
              </div>
              <div class="home-link-container">
                <div class="title">Social Help</div>
                <ul>
                  <li (click)="openCharityPage()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/charity.png" />
                      </span>
                      <span>Charity</span>
                    </a>
                  </li>
                  <li (click)="openMatrimonyPage()">
                    <a>
                      <span class="img-sec">
                        <img src="../../assets/images/charity.png" />
                      </span>
                      <span>Matrimony</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- <nav class="main-nav">
            <ul>
              <li class="username">
                <span>Welcome {{userName}}</span>
              </li>
              <li class="home-banner-text">
               <span class="move">{{notificationMessage}}</span>
              </li>
              <li style="width: 98%; height: 375px;">
                <ion-slides scrollbar="true"  pager="true" [options]="slideOpts">
                  <ion-slide *ngFor="let img of images">
                    <img src="assets/img/{{img}}" class="thumb-img" tappable (click)="openPreview(img)"/>
                  </ion-slide>
                </ion-slides>
              </li>
              
                <a>
                  Members
                </a>
                <li class="navbg8" (click)="openGoverningBody()"><a  class="navbgtransblue"><img  alt=""
                title=""><span> {{'Governing Body' | translate}}</span></a></li>
              <li class="navbg1" (click)="openDirectoryListPage()"><a class="navbgtransblue" ><img alt="" title=""><span>
                Directory List</span></a></li>
                <li class="navbg5 full-width" (click)="openPhotoGallery()">
                  <a class="navbgtransblue full-width" ><img  alt="" title=""><span>Photo
                  Gallery</span></a></li>
                <a>
                  Profile
                </a>
                <li class="navbg7" (click)="openBusinessSearchPage()"><a class="navbgtransblue" ><img  alt="" title=""><span>
                  Business Search</span></a></li>
                <li class="navbg6" (click)= "openSignIn()">
                  <a class="navbgtransblack"><img  alt="" title=""><span>{{'Sign In' | translate}} | {{'Sign Up' | translate}}</span></a></li>
            
              <a>{{'Personalities' | translate}}</a>
              <li class="navbg4" (click)="openFamousPersonalityPage()"><a class="navbgtransblack" ><img alt=""
                title=""><span>{{'Famous Personalities' | translate}}</span></a></li>
          
              <li class="navbg3" (click)="openAchieverListPage()"><a class="navbgtransblack" ><img  alt=""
                    title=""><span>{{'Achievers List' | translate}}</span></a></li>

              
                <a>{{'Social help' | translate}}</a>
                <li class="navbg2" style="margin-top: 1%;" (click)="openCharityPage()"><a class="navbgtransblack" ><img  alt=""
                  title=""><span>{{'Charity' | translate}}</span></a></li>
               
               <li class="navbg9" (click)="openMatrimonyPage()"><a class="navbgtransblack"><img alt="" 
                title=""><span>Matrimony</span></a></li>
            </ul>
          </nav> -->
          </div>
        </div>
      </div>

      <!-- Bottom Toolbar-->
      <div class="toolbar">
        <div class="toolbar-inner">
          <ul class="toolbar_icons">
            <li><a href="#" data-panel="right" class="open-panel"><img src="../../assets/images/home-icons/user.png"
                  alt="" title=""></a></li>

            <li><a href="tel:123456789" class="external"><img src="../../assets/images/home-icons/phone.png" alt=""
                  title=""></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>