<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{'Contact Us' | translate}}</ion-title>
        <ion-button slot="end" (click)="closeModal()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col>
          <ion-card style="height: 145px;
          margin-top: 5px;
          margin-bottom: 5px;
          background-color: cornsilk;">
            <ion-card-header style="text-align: center;
            background-color: khaki;">
              <ion-card-subtitle >{{'Reach Us' | translate}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Mobile Number : 0000000000
            </ion-card-content>
            <ion-card-content>
                Email: abc_test@gmail.com
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
</ion-content>