
    ion-menu{
     
     ion-header{ 
        ion-toolbar{   
        --background: transparent !important;
        --color: #d64900 !important;
        border-bottom-style: solid; 
        }  
    }
        ion-content{            
            --background: transparent !important; 
           
            ion-item{
                --background: transparent !important;
                 --color:#d64900 !important;
                 font-size: 13px;
                 ion-icon{ padding-right: 10px !important; }
                
            }
        }
    }

    